*{
  margin:0;
  overflow: auto;
}

.book-card{

  /* border: 1px solid red; */

  border-radius: 10px;
  ;
  width:450px;
  height:auto;

  background-color: antiquewhite;
  color: black;

  gap:10px;
  padding: 10px;


  display: flex;
  
}

.book-card h1{
  font-size: 14px !important;
}

.book-card h3{
  font-size: 12px !important;
}

.book-card p{
  font-size: 10px !important;
}

.book-card img{
  width: 90px;
  height: 125px;
}


.app{

  background-color: black;
  padding-top: 15px;
  display: flex;
  flex-flow: row wrap;


  gap:18px;

  align-items: space-evenly;
  justify-content: center;
}
/*  */
.navbar{
  width:100vw;
  height:75px;
  background-color: rgb(34, 32, 32);

  display: flex;

  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding-left: 12px;
  padding-right: 12px;


}

.navbar .title{
  color:antiquewhite;
  font-size: 18px;
}

.navbar .search-inpt{
  width:300px;
  background-color: rgb(92, 88, 88);
  color: aliceblue;

  padding: 4px 8px 4px 8px;
  border:1px solid  rgb(34, 32, 32);
}

.navbar .search-inpt:focus{
  outline: none;
}

.navbar .btn{
  margin-left: 10px;
  background-color: rgb(92, 88, 88) ;
  border:1px solid  rgb(34, 32, 32);
  color:antiquewhite;
  padding: 4px 8px 4px 8px;
}

.navbar .title2{
  color:antiquewhite;
  font-size: 18px;

  margin-right: 50px;

}